.Calculator {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 20.3rem;
}

.monitor {
  width: 100%;
  height: 6rem;
  background-color: #383c45;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
  padding-bottom: 1rem;
}